[Unit]
Description=Your awesome polling service
After=syslog.target network.target

[Service]
ExecStart=sh /home/nauvoo/poll/start.sh

[Install]
WantedBy=multi-user.target