[Unit]
Description=Your awesome polling service
After=syslog.target network.target

[Service]
ExecStart=sh /opt/poller/start.sh

[Install]
WantedBy=multi-user.target